.produto {
	
}
.cores	{
	position:	relative;
	padding-top:	90px;
}
.cores	legend	{
	position:	absolute;
	top:	0;
	left:	0;
}
.cores	label:after	{
	content:	'';		
	display:	block;
	border-radius:	50%;
	width:	50px;
	height:	50px;
	-moz-box-sizing:	border-box;
	box-sizing:	border-box;
	position:	absolute;
	top:	30px;
}
label[for=verde]:after	{
	background-color:	#33CC66;
	left:	0;
}
label[for=rosa]:after	{
	background-color:	#FF4466;
	left:	60px;
}
label[for=azul]:after	{
	background-color:	#6666FF;
	left:	120px;
}
.cores	input:checked	+	label:after	{
	border:	6px	solid	rgba(0,0,0,0.3);
}
.cores	input[type=radio]	{
	display:	none;
}
.cores	input:not(:checked)	+	label	img	{
	display:	none;
}
.cores	label	img	{ //serve para ajustar ao elemento pai
	display:	block;
	max-width:	100%;
}